In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import os
file = os.getcwd() + '\\HTML, JSON and Excel IO\\excel_data.xlsx'

In [3]:
xlsfile = pd.ExcelFile(file)

In [5]:
# Create df from excel file
df = xlsfile.parse('Sheet1')
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>roll</th>
      <th>age</th>
      <th>marks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>mayur</td>
      <td>21</td>
      <td>22</td>
      <td>99</td>
    </tr>
    <tr>
      <th>1</th>
      <td>naruto</td>
      <td>1</td>
      <td>17</td>
      <td>45</td>
    </tr>
    <tr>
      <th>2</th>
      <td>sasuke</td>
      <td>24</td>
      <td>18</td>
      <td>95</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
# can be done this way too
df = pd.read_excel(file)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>roll</th>
      <th>age</th>
      <th>marks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>mayur</td>
      <td>21</td>
      <td>22</td>
      <td>99</td>
    </tr>
    <tr>
      <th>1</th>
      <td>naruto</td>
      <td>1</td>
      <td>17</td>
      <td>45</td>
    </tr>
    <tr>
      <th>2</th>
      <td>sasuke</td>
      <td>24</td>
      <td>18</td>
      <td>95</td>
    </tr>
  </tbody>
</table>
</div>