In [5]:
from pandas import Series, DataFrame
import json

In [15]:
json_obj = r"""
{
    "Name": "Mayur",
    "Occupation": "Data Scientist",
    "Salary": "$100,000",
    "Hobbies": ["Guitar", "Badminton", "Animes"]
}
"""

In [24]:
# json.loads will convert json str to 
# python dict
json_dict = json.loads(json_obj)
json_dict

{u'Hobbies': [u'Guitar', u'Badminton', u'Animes'],
 u'Name': u'Mayur',
 u'Occupation': u'Data Scientist',
 u'Salary': u'$100,000'}

In [25]:
# json.dumps will convert dict back to str
json_str = json.dumps(json_dict)
json_str

'{"Salary": "$100,000", "Hobbies": ["Guitar", "Badminton", "Animes"], "Name": "Mayur", "Occupation": "Data Scientist"}'

In [27]:
df = DataFrame(json_dict)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Hobbies</th>
      <th>Name</th>
      <th>Occupation</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Guitar</td>
      <td>Mayur</td>
      <td>Data Scientist</td>
      <td>$100,000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Badminton</td>
      <td>Mayur</td>
      <td>Data Scientist</td>
      <td>$100,000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Animes</td>
      <td>Mayur</td>
      <td>Data Scientist</td>
      <td>$100,000</td>
    </tr>
  </tbody>
</table>
</div>