In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## GroupBy

In [12]:
df = DataFrame({
    'k1': [1, 2, 3, 3, 3, 4],
    'k2': ['A', 'B', 'C', 'D', 'E', 'A'],
    'vals': np.random.rand(6)
})
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>k1</th>
      <th>k2</th>
      <th>vals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>A</td>
      <td>0.937012</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>B</td>
      <td>0.622530</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>C</td>
      <td>0.361991</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>D</td>
      <td>0.429971</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3</td>
      <td>E</td>
      <td>0.141683</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>A</td>
      <td>0.260311</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# Groups the dataframe by column and aggregates
# can pass single or list of columns
df.groupby(['k1', 'k2']).mean()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>vals</th>
    </tr>
    <tr>
      <th>k1</th>
      <th>k2</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <th>A</th>
      <td>0.937012</td>
    </tr>
    <tr>
      <th>2</th>
      <th>B</th>
      <td>0.622530</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">3</th>
      <th>C</th>
      <td>0.361991</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.429971</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.141683</td>
    </tr>
    <tr>
      <th>4</th>
      <th>A</th>
      <td>0.260311</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
# Will count the number of
# times a unique key appears
df.groupby('k1').size()

k1
1    1
2    1
3    3
4    1
dtype: int64

In [19]:
# Can iterate over group
for name, group in df.groupby('k1'):
    print "Group name: " + str(name)
    print group  # Here group is a DataFrame

Group name: 1
<class 'pandas.core.frame.DataFrame'>
Group name: 2
<class 'pandas.core.frame.DataFrame'>
Group name: 3
<class 'pandas.core.frame.DataFrame'>
Group name: 4
<class 'pandas.core.frame.DataFrame'>

In [1]:
# For multiple keys
for (k1, k2), group in df.groupby(['k1', 'k2']):
    print