In [9]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## Mapping

In [10]:
df = DataFrame({
    'altitude': [123, 234l, 345],
    'name': ['a', 'b', 'c']
})
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>altitude</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>123</td>
      <td>a</td>
    </tr>
    <tr>
      <th>1</th>
      <td>234</td>
      <td>b</td>
    </tr>
    <tr>
      <th>2</th>
      <td>345</td>
      <td>c</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
name_map = {
    'a': 'Mayur',
    'b': 'Naruto',
    'c': 'Sasuke'
}

In [12]:
# Will apply map name_map onto the name
# column and the values in the dict will
# be the values in the new column    
df['name'].map(name_map)

0     Mayur
1    Naruto
2    Sasuke
Name: name, dtype: object

## Replace

In [13]:
df = DataFrame({
    'a': [1, 2, 3, 4],
    'b': ['A', 'B', 'C', 'D'],
    'c': [3, 2, 1, 2]
})
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>A</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>B</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>C</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>D</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# Replace old value with new value
df.replace(1, 'Sasuke')

# If you want it to work only on a
# single column
df['a'] = df['a'].replace('1', 'Sasuke')
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
      <th>c</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Sasuke</td>
      <td>A</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>B</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>C</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>D</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

## Renaming

In [15]:
df = DataFrame(np.arange(12).reshape(3, 4),
               index=['NY', 'LA', 'SF'],
               columns=['A', 'B', 'C', 'D'])
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NY</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>SF</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
# Can map indices
df.index.map(str.lower)
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NY</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>LA</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>SF</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
# Can pass dictionaries too
df.rename(index={
    'NY': 'New York',
    'LA': 'Los Angeles',
    'SF': 'San Francisco'
}, columns={
    'A': 'Alpha',
    'B': 'Beta',
}, inplace=True)  
# inplace=True will make it
# permanent, don't have to do df = ...
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Alpha</th>
      <th>Beta</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>New York</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Los Angeles</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>San Francisco</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>
</div>

## Binning

In [18]:
years = [1990, 1991, 1992, 2008, 2012, 2015,
         1968, 1857]
decades_bins = [1960, 1970, 1980, 1990, 2000, 2010, 2020]

In [19]:
# Will assign each of the years into decade bin
# one bin for every year
decade_cat = pd.cut(years, decades_bins)

# this will tell you which year belongs to which
# category
decade_cat

# Get all the different categories
decade_cat.categories

# years which do no fall in any of the categories
# will be markes as NaN

Index([u'(1960, 1970]', u'(1970, 1980]', u'(1980, 1990]', u'(1990, 2000]',
       u'(2000, 2010]', u'(2010, 2020]'],
      dtype='object')

In [20]:
# Determines how many objects in each category
pd.value_counts(decade_cat)

(2010, 2020]    2
(1990, 2000]    2
(2000, 2010]    1
(1980, 1990]    1
(1960, 1970]    1
(1970, 1980]    0
dtype: int64

In [21]:
# Can specify the number of bins
pd.cut(years, 5, precision=2)

[(1983.4, 2015], (1983.4, 2015], (1983.4, 2015], (1983.4, 2015], (1983.4, 2015], (1983.4, 2015], (1951.8, 1983.4], (1856.84, 1888.6]]
Categories (5, object): [(1856.84, 1888.6] < (1888.6, 1920.2] < (1920.2, 1951.8] < (1951.8, 1983.4] < (1983.4, 2015]]

## Outliers

In [22]:
np.random.seed(12345)
df = DataFrame(np.random.randn(1000, 4))
df.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>-0.204708</td>
      <td>0.478943</td>
      <td>-0.519439</td>
      <td>-0.555730</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.965781</td>
      <td>1.393406</td>
      <td>0.092908</td>
      <td>0.281746</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.769023</td>
      <td>1.246435</td>
      <td>1.007189</td>
      <td>-1.296221</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.274992</td>
      <td>0.228913</td>
      <td>1.352917</td>
      <td>0.886429</td>
    </tr>
    <tr>
      <th>4</th>
      <td>-2.001637</td>
      <td>-0.371843</td>
      <td>1.669025</td>
      <td>-0.438570</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
col = df[0]
col.head()
col[np.abs(col) > 3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [24]:
df.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1000.000000</td>
      <td>1000.000000</td>
      <td>1000.000000</td>
      <td>1000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>-0.067684</td>
      <td>0.067924</td>
      <td>0.025598</td>
      <td>-0.002298</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.998035</td>
      <td>0.992106</td>
      <td>1.006835</td>
      <td>0.996794</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-3.428254</td>
      <td>-3.548824</td>
      <td>-3.184377</td>
      <td>-3.745356</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-0.774890</td>
      <td>-0.591841</td>
      <td>-0.641675</td>
      <td>-0.644144</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>-0.116401</td>
      <td>0.101143</td>
      <td>0.002073</td>
      <td>-0.013611</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.616366</td>
      <td>0.780282</td>
      <td>0.680391</td>
      <td>0.654328</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.366626</td>
      <td>2.653656</td>
      <td>3.260383</td>
      <td>3.927528</td>
    </tr>
  </tbody>
</table>
</div>

In [25]:
# cap the outliers
df[df > 3] = 3

In [26]:
df.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1000.000000</td>
      <td>1000.000000</td>
      <td>1000.000000</td>
      <td>1000.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>-0.068051</td>
      <td>0.067924</td>
      <td>0.024912</td>
      <td>-0.003226</td>
    </tr>
    <tr>
      <th>std</th>
      <td>0.996839</td>
      <td>0.992106</td>
      <td>1.004723</td>
      <td>0.993560</td>
    </tr>
    <tr>
      <th>min</th>
      <td>-3.428254</td>
      <td>-3.548824</td>
      <td>-3.184377</td>
      <td>-3.745356</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>-0.774890</td>
      <td>-0.591841</td>
      <td>-0.641675</td>
      <td>-0.644144</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>-0.116401</td>
      <td>0.101143</td>
      <td>0.002073</td>
      <td>-0.013611</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>0.616366</td>
      <td>0.780282</td>
      <td>0.680391</td>
      <td>0.654328</td>
    </tr>
    <tr>
      <th>max</th>
      <td>3.000000</td>
      <td>2.653656</td>
      <td>3.000000</td>
      <td>3.000000</td>
    </tr>
  </tbody>
</table>
</div>

## Random ordering

In [27]:
df = DataFrame(np.arange(16).reshape(4, 4))
df

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
</div>

In [28]:
blender = np.random.permutation(4)
blender

array([1, 3, 2, 0])

In [29]:
# from the df take it in the order
# specified by blender
df.take(blender)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>

In [30]:
box = np.array([1, 2, 3])
shaker = np.random.randint(0, len(box), size=10)
shaker

array([2, 0, 2, 0, 0, 2, 1, 1, 2, 1])

In [31]:
box.take(shaker)

array([3, 1, 3, 1, 1, 3, 2, 2, 3, 2])

In [32]:
# Elegant way
# frac is the fraction of sample
# you want in return, 1 = 100%
df.sample(frac=1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>2</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
</div>