## Concatenation

In [44]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

## Replace

In [45]:
ser1 = Series([1, 2, 3], index=['x', 'y', 'z'])
ser1

x    1
y    2
z    3
dtype: int64

In [46]:
ser2 = Series([7, 8, 9], index=['x', 'z', 'q'])
ser2

x    7
z    8
q    9
dtype: int64

In [47]:
# will concatenate across axis = 0 (rows) by default   
pd.concat([ser1, ser2])

x    1
y    2
z    3
x    7
z    8
q    9
dtype: int64

In [48]:
# Will return DataFrame, since axis=1
pd.concat([ser1, ser2], axis=1)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>q</th>
      <td>NaN</td>
      <td>9.0</td>
    </tr>
    <tr>
      <th>x</th>
      <td>1.0</td>
      <td>7.0</td>
    </tr>
    <tr>
      <th>y</th>
      <td>2.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>z</th>
      <td>3.0</td>
      <td>8.0</td>
    </tr>
  </tbody>
</table>
</div>

In [49]:
# Will create hierarchical indices with 
# level 0 index as keys and level 1 
# indices same as in the df before
pd.concat([ser1, ser2], keys=['cat1', 'cat2'])

cat1  x    1
      y    2
      z    3
cat2  x    7
      z    8
      q    9
dtype: int64

## Combining Series

In [50]:
ser1 = Series(np.arange(4),
              index=['A', 'B', 'C', 'D'])
ser1

A    0
B    1
C    2
D    3
dtype: int32

In [51]:
ser2 = Series([1, np.nan, 2, np.nan], 
              index=['A', 'B', 'C', 'D'])
ser2

A    1.0
B    NaN
C    2.0
D    NaN
dtype: float64

In [52]:
# Create a series where if ser2 has null
# values, replace it with values of 
# ser1, else take it from ser2 itself
Series(np.where(np.isnan(ser2), ser1, ser2), 
       index=ser1.index)

A    1.0
B    1.0
C    2.0
D    3.0
dtype: float64

In [53]:
# Do the same thing as above, short version
ser2.combine_first(ser1)

A    1.0
B    1.0
C    2.0
D    3.0
dtype: float64

## Replace

In [53]:
ser = Series([1, 2, 3, 4, 1, 2, 3, 4])
ser

0    1
1    2
2    3
3    4
4    1
5    2
6    3
7    4
dtype: int64

In [59]:
# Replace every old_val with new_val
ser.replace(1, 'Mayur')

# Also accepts list
ser.replace([1, 2], ['Mayur', 'Kakashi'])


# Also accepts dict
ser.replace({
    1: 'Mayur',
    2: 'Kakashi',
    3: 'Sasuke'
})

0      Mayur
1    Kakashi
2          3
3          4
4      Mayur
5    Kakashi
6          3
7          4
dtype: object